@font-face {
    font-family: Typewriter;
    src: url('MonospaceTypewriter.ttf');
}
.infinity {
	color: #FFFFFF;
	background: #1F1F1F;
	font-weight: bold;
	border: 2px solid #B67F33;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.infinity:hover {
	color: #000000;
	background: #B67F33;
}
.eternity {
	color: #b341e0;
	background: black;
	border: 2px solid #b341e0;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}

.eternity:hover {
	color: #511568;
	background: white;
}
.quantum {
	color: #32c832;
	background: #0a640a;
	border: 2px solid #32c832;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}

.quantum:hover {
	background: #32c832;
	color: #0a640a;
}
.ghost {
	color: #715fff;
	text-shadow: 0px 0px 3px #f91eff, 0px 0px 3px #bfbfbf;
	background: #320633;
	border: 2px solid #f91eff;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}

.ghost:hover {
	color: #161333;
	text-shadow: 0px 0px 3px #f91eff, 0px 0px 3px #bfbfbf;
	background: #f91eff;
	border: 2px solid #f91eff;
}
.hadron {
	color: #ffffff;
	animation: hadronize 1.5s linear infinite;
	border: 2px solid #1f1f1f;
	background: radial-gradient(transparent, #000000), repeating-linear-gradient(#990000, #009900, #000099, #990000);
	background-size: 100% 200%;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}

.hadron:hover {
	color: #000000;
	animation: hadronize 1.5s linear infinite;
	border: 2px solid #bfbfbf;
	text-shadow: 0px 0px 3px #ffffff, 0px 0px 3px #ffffff;
	font-weight: bold;
	background: radial-gradient(transparent, #000000), repeating-linear-gradient(#990000, #009900, #000099, #990000);
	background-size: 100% 200%;
}
@keyframes hadronize{ 
	0%{
	    background-position: 50% 50%, 0% 0%;
	}
	100%{
	    background-position: 50% 50%, 0% 200%;
	}
}
.star {
	color: #7f6f1f;
	text-shadow: 0 0 1px #000000, 0 0 2px #7f7f7f, 0 0 3px #ffffff;
	background: radial-gradient(closest-side,#ff5400 0,#ff9021 33%,#ffdf3f 100%);
	border: 2px solid #ffdf3f;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.star:hover {
	color: #ffffff;
	text-shadow: 0 0 1px #ffdf3f, 0 0 2px #7f6f1f, 0 0 3px #000000;
	background: radial-gradient(closest-side,#ff5400 0,#ff9021 33%,#ffdf3f 100%);
	border: 2px solid #ffdf3f;
}
.universe {
	color: #7fbfff;
	text-shadow: 0 0 3px #7fbfff, 0 0 3px #7fbfff, 0 0 4px #000000;
	background: radial-gradient(closest-side,transparent 0,transparent 50%,#000000 100%), linear-gradient(#000000, #3f5f7f);
	border: 2px solid #000000;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.universe:hover {
	color: #ffffff;
	text-shadow: 0 0 10px #7fbfff, 0 0 10px #7fbfff, 0 0 10px #7fbfff;
	background: radial-gradient(closest-side,transparent 0,transparent 50%,#000000 100%), linear-gradient(#000000, #3f5f7f);
	border: 2px solid #3f5f7f;
}
.fractal {
	color: #000000;
	text-shadow: 0px 0px 3px #ffffff, 0px 0px 3px #ffffff;
	animation: fract 3s linear infinite;
	border: 2px solid #1f1f1f;
	background: repeating-linear-gradient(90deg,#000764,#206BCB 16%,#EDFFFF 42%,#FFAA00 64.25%,#000200 85.75%,#000764);
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
	background-size: 200% 200%;
}

.fractal:hover {
	color: #ffffff;
	animation: fract 3s linear infinite;
	border: 2px solid #bfbfbf;
	text-shadow: 0px 0px 3px #000000, 0px 0px 3px #000000;
	background: repeating-linear-gradient(90deg,#000764,#206BCB 16%,#EDFFFF 42%,#FFAA00 64.25%,#000200 85.75%,#000764);
	background-size: 200% 200%;
}
@keyframes fract{ 
	0%{
	    background-position: 0% 0%;
	}
	100%{
	    background-position: 200% 200%;
	}
}
.abstract {
	color: #000000;
	text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000;
	background: #777777;
	border: 2px solid #000000;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.abstract:hover {
	color: #ffffff;
	text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff;
	background: #777777;
	border: 2px solid #000000;
}
