.energy {
	border: 2px solid rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	box-shadow: inset 0px 0px 24px 0px #cc9900;
	font-weight: bold;
	text-shadow: 0px 0px 3px #cccc00, 0px 0px 6px #cccc00;
	color: #ffff00;
	animation: energy 4s linear infinite;
	transition-duration: 0.2s;
}
.energy:hover {
	border-color: rgba(255, 255, 255, 0.25);
	box-shadow: inset 0px 0px 24px 0px #ffff00;
	color: black;
	cursor: pointer
}
@keyframes energy { 
	0%{
		background-color: #999900;
	}
	50% {
		background-color: #cccc00;
	}
	100%{
		background-color: #999900;
	}
}

.transcend {
	background: black;
	border: 2px solid #00007f;
	border-radius: 4px;
	box-shadow: inset 0px 0px 24px 0px #00007f;
	font-weight: bold;
	text-shadow: 0px 0px 3px #7f0000, 0px 0px 6px #7f0000;
	color: #bf0000;
	transition-duration: 0.2s;
}
.transcend:hover {
	background: #ff0000;
	box-shadow: inset 0px 0px 24px 0px #0000ff;
	border-color: #0000ff;
	color: #ff7f7f;
	cursor: pointer
}

.cosmic {
	background: #1f3f3f;
	border: 2px solid #5fbfbf;
	border-radius: 4px;
	box-shadow: inset 0px 0px 24px 0px #3f7f7f, 0px 0px 0px 0px #3f7f7f;
	font-weight: bold;
	text-shadow: 0px 0px 3px #5fbfbf, 0px 0px 6px black;
	color: #5fbfbf;
	transition-duration: 0.2s;
}
.cosmic:hover {
	border-color: #8fbfbf;
	color: #8fbfbf;
	box-shadow: inset 0px 0px 24px 0px #3f7f7f, 0px 0px 12px 0px #8fbfbf;
	text-shadow: 0px 0px 12px #7fbfbf, 0px 0px 6px white;
	cursor: pointer
}

.thepogity {
	background: linear-gradient(90deg, #bf7fff, transparent, #bf7fff), radial-gradient(#ff7fff, #df7fff, #000000);
	border: 2px solid rgba(95, 0, 127, 0.25);
	border-radius: 4px;
	box-shadow: inset 0px 0px 12px 0px #bf00ff;
	color: #2f003f;
	text-shadow: 0px 0px 6px #5f007f, 0px 0px 12px #bf00ff;
	font-family: Typewriter;
	font-weight: bold;
	transition-duration: 0.2s;
	cursor: pointer
}
.thepogity:hover {
	border-color: rgba(63, 0, 127, 0.25);
	box-shadow: inset 0px 0px 12px 0px #7f00ff;
	color: #df7fff;
	text-shadow: 0px 0px 6px #000000, 0px 0px 12px #000000
}