@font-face {
    font-family: Typewriter;
    src: url('MonospaceTypewriter.ttf');
}
button {
	font-family: Typewriter;
	font-size: 20px;
	display: inline-block
}
h1 {
	font-family: Typewriter;
	font-size: 30px;
	font-weight: bold;
	margin: 0
}
h2 {
	font-family: Typewriter;
	font-size: 25px;
	font-weight: bold;
	margin: 0
}

.normal {
    background: #F2F2F2;
	color: #000000;
	font-weight: bold;
    border: 2px solid #4980CC;
	border-radius: 4px;
	transition-duration: 0.2s
}
.normal:hover {
    color: #FFF;
    background: #4980CC;
	cursor: pointer
}
