.infinity {
	color: #FFFFFF;
	background: #1F1F1F;
	font-weight: bold;
	border: 2px solid #B67F33;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.infinity:hover {
	color: #000000;
	background: #B67F33;
}

.eternity {
	color: #b341e0;
	background: black;
	border: 2px solid #b341e0;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.eternity:hover {
	color: #511568;
	background: white;
}

.quantum {
	color: #32c832;
	background: #0a640a;
	border: 2px solid #32c832;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.quantum:hover {
	background: #32c832;
	color: #0a640a;
}

.ghost {
	background: linear-gradient(#0c0033, #2e0033);
	box-shadow: inset 0px 0px 24px 0px black;
	border: 2px solid;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	animation: ghost 4s linear infinite
}
.ghost:hover {
	box-shadow: inset 0px 0px 12px 0px #420072;
	cursor: pointer
}
@keyframes ghost { 
	0%{
		border-color: #690072;
		color: #e0ace5;
		text-shadow: 0px 0px 3px white, 0px 0px 6px #d200e5;
	}
	50% {
		border-color: #1c0072;
		color: #baace5;
		text-shadow: 0px 0px 6px white, 0px 0px 6px #3900e5;
	}
	100%{
		border-color: #690072;
		color: #e0ace5;
		text-shadow: 0px 0px 3px white, 0px 0px 6px #d200e5;
	}
}

.hadron {
	position: relative;
	background: transparent;
	box-shadow: inset 0px 0px 24px 0px black;
	border: 2px solid black;
	border-radius: 4px;
	overflow: hidden;
	font-family: Typewriter;
	font-weight: bold;
	color: rgba(255,255,255,0.8);
	text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	transition-duration: 0.2s;
	cursor: pointer
}
.hadron:hover {
	box-shadow: inset 0px 0px 24px 0px white;
	border-color: #bfbfbf;
	color: white;
	text-shadow: 0px 0px 3px white
}
.hadron.bg {
	position: absolute;
	background: conic-gradient(#ff0000, #00ff00, #0000ff, #ff0000);
	background-size: contain;
	height: 100vmax;
	width: 100vmax;
	top: calc(-50vmax + 50%);
	left: calc(-50vmax + 50%);
	z-index: -1;
	animation: hadronize 5s linear infinite
}
@keyframes hadronize { 
	0%{
	    transform: none
	}
	100%{
	    transform: rotate(360deg)
	}
}

.star {
	color: #7f3f00;
	text-shadow: 0 0 3px transparent, 0 0 6px #ffdf7f;
	background: radial-gradient(#ffbf00, #ff7f00);
	background-size: 300% 300%;
	background-position: 100% 100%;
	border: 2px solid #ffbf00;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.star:hover {
	box-shadow: inset 0px 0px 24px 0px #ff3f00;
	border-color: #ff3f00;
	color: #ff6f3f;
	text-shadow: 0 0 3px black, 0 0 6px #7f1f00;
}

.galactic {
	background: repeating-linear-gradient(#00bfff, transparent 50%, #00bfff 100%), repeating-linear-gradient(90deg, #00dfff, #007fff 50%, #00dfff 100%);
	background-size: 200% 200%;
	box-shadow: inset 0px 0px 12px 0px #00bfff;
	border: 2px solid #00bfff;
	border-radius: 4px;
	font-family: Typewriter;
	font-weight: bold;
	color: white;
	text-shadow: 0px 0px 3px white, 0px 0px 3px black;
	transition-duration: 0.2s;
	animation: galactic 5s linear infinite;
	cursor: pointer
}
.galactic:hover {
	border: 2px solid #007fff;
	box-shadow: inset 0px 0px 12px 0px #007fff;
	color: #7fbfff;
	text-shadow: 0px 0px 3px black
}
@keyframes galactic { 
	0%{
		background-position: 0% 0%
	}
	50%{
		background-position: 100% 100%
	}
	100%{
		background-position: 200% 200%
	}
}

.universe {
	color: #7fbfff;
	text-shadow: 0 0 3px #7fbfff, 0 0 3px #7fbfff, 0 0 4px #000000;
	background: radial-gradient(closest-side,transparent 0,transparent 50%,#000000 100%), linear-gradient(#000000, #3f5f7f);
	border: 2px solid #000000;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.universe:hover {
	text-shadow: 0 0 9px #7fbfff, 0 0 9px #7fbfff, 0 0 12px #000000;
}

.fractal {
	color: #000000;
	text-shadow: 0px 0px 3px #ffffff, 0px 0px 3px #ffffff;
	animation: fract 3s linear infinite;
	border: 2px solid #1f1f1f;
	background: radial-gradient(transparent, #000000), repeating-linear-gradient(90deg,#000764,#206BCB 16%,#EDFFFF 42%,#FFAA00 64.25%,#000200 85.75%,#000764);
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
	background-size: 200% 100%;
}
.fractal:hover {
	color: #ffffff;
	border: 2px solid #bfbfbf;
	text-shadow: 0px 0px 3px #000000, 0px 0px 3px #000000;
}
@keyframes fract{ 
	0%{
	    background-position: 0% 0%, 0% 0%;
	}
	100%{
	    background-position: 0% 0%, 200% 200%;
	}
}

.omni {
	border: 2px solid rgba(255,255,255,0);
	border-radius: 4px;
	font-family: Typewriter;
	font-weight: bold;
	transition-duration: 0.2s;
	animation: omni 6s linear infinite;
	cursor: pointer
}
.omni:hover {
	border: 2px solid rgba(255,255,255,0.5);
	text-shadow: 0px 0px 6px #000000, 0px 0px 3px #000000;
}
@keyframes omni { 
	0%{
		background: #7f0000;
		box-shadow: inset 0px 0px 12px 0px #ff0000;
		color: #ff7f7f
	}
	16%{
		background: #7f7f00;
		box-shadow: inset 0px 0px 12px 0px #ffff00;
		color: #ffff7f
	}
	33%{
		background: #007f00;
		box-shadow: inset 0px 0px 12px 0px #00ff00;
		color: #7fff7f
	}
	50%{
		background: #007f7f;
		box-shadow: inset 0px 0px 12px 0px #00ffff;
		color: #7fffff
	}
	67%{
		background: #00007f;
		box-shadow: inset 0px 0px 12px 0px #0000ff;
		color: #7f7fff
	}
	83%{
		background: #7f007f;
		box-shadow: inset 0px 0px 12px 0px #ff00ff;
		color: #ff7fff
	}
	100%{
		background: #7f0000;
		box-shadow: inset 0px 0px 12px 0px #ff0000;
		color: #ff7f7f
	}
}

.beyond {
	color: #7f7f7f;
	text-shadow: 0px 0px 3px #bfbfbf, 0px 0px 3px #bfbfbf;
	background: #ffffff;
	border: 2px solid #dfdfdf;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.beyond:hover {
	border-color: #bfbfbf;
	color: #5f5f5f
}

.abstract {
	color: #7f7f7f;
	text-shadow: 0px 0px 3px #3f3f3f, 0px 0px 3px #3f3f3f;
	background: #000000;
	box-shadow: inset 0px 0px 12px 0px #3f3f3f;
	border: 2px solid #3f3f3f;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.abstract:hover {
	background: #3f3f3f;
	box-shadow: inset 0px 0px 12px 0px #000000;
	border-color: #000000;
	color: #bfbfbf;
	text-shadow: 0px 0px 3px #7f7f7f, 0px 0px 3px #7f7f7f;
}

.memphric {
	color: #000000;
	text-shadow: 0px 0px 3px #7f7f7f, 0px 0px 3px #ffffff;
	background: linear-gradient(#000000,#1f1f1f 50%,#000000 100%);
	border: 2px solid #000000;
	font-family: Typewriter;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}
.memphric:hover {
	color: #ffffff;
	text-shadow: 0px 0px 3px #ffffff, 0px 0px 3px #ffffff
}